{% extends 'base.html' %}
{% block jss %}
<style>
.perm-botadmin{
  border: 1px solid #7e13d3;
  color: #7e13d3;
}
.perm-admin{
  border: 1px solid #c1a816;
  color: #c1a816;
}
.perm-member{
  border: 1px solid #2682bf;
  color: #2682bf;
}
</style>
<script src="{{ url_for('static', filename='js/create.js') }}"></script>
{% endblock %}
{% block content %}

{% include 'component/header.html' %}

<div class="container">
  <div class="container mt-3 p-3 py-2 border border-1 rounded-4">
    <p class="h4 text-info">Ownersv2</p>
    <p>
      Build Telegram bots in minutes—no coding needed!
      Just type, select, and launch!
    </p>
  </div>
  {% include 'component/form.html' %}
</div>

{% endblock %}